/* Background */
.app {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4f46e5, #7c3aed);
  color: white;
  padding: 20px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header button {
  background: white;
  color: black;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

/* Card */
.card {
  max-width: 500px;
  margin: auto;
  background: white;
  color: black;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Home */
.home {
  text-align: center;
  margin-top: 80px;
}

/* Inputs */
select,
textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Buttons */
button {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
}

/* Question text */
.question {
  font-weight: bold;
}

/* Progress bar */
.progress {
  width: 100%;
  height: 12px;
  background: #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}

.bar {
  height: 100%;
  background: #22c55e;
}

/* Loader */
.loader {
  text-align: center;
  margin-bottom: 20px;
}
